<nav class="navbar is-warning" role="navigation" aria-label="main navigation">

  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/" (click)="onNavigate()">
        <i class="fas fa-play fa-rotate-180"></i>
        &nbsp;CaaSCasE&nbsp;
        <i class="fas fa-play"></i>
      </a>
      <span
        class="navbar-burger burger"
        [class.is-active]="mobileNavigationActive"
        aria-label="menu"
        [attr.aria-expanded]="mobileNavigationActive"
        (click)="onMenuClick()">
            <span></span>
            <span></span>
            <span></span>
    </span>
    </div>
    <div class="navbar-menu" [class.is-active]="mobileNavigationActive">
      <div class="navbar-end">
        <a
          *ngFor="let page of pages"
          class="navbar-item"
          routerLinkActive="is-active"
          [routerLink]="page.route"
          (click)="onNavigate()">
          {{ page.title }}
        </a>
      </div>
    </div>
  </div>
</nav>
